<a href="https://colab.research.google.com/github/kgpark88/energy-bigdata-analysis/blob/main/python_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python 3 Tutorial - Learn Python in 30 Minutes  
출처 : https://www.programiz.com/python-programming/tutorial

## "Hello, World!" Program

In [ ]:
print("Hello, World!")

Hello, World!

## Variables and Literals
- A variable is a named location used to store data in the memory. Here's an example:  
- We do not need to define variable type in Python. You can do something like this:

In [ ]:
a = 5
print("a =", 5)
a = "High five"
print("a =", a)

a = 5
a = High five

## Operators

In [ ]:
x = 14
y = 4

# Add two operands
print('x + y =', x+y) # Output: x + y = 18

# Subtract right operand from the left
print('x - y =', x-y) # Output: x - y = 10

# Multiply two operands
print('x * y =', x*y) # Output: x * y = 56

# Divide left operand by the right one 
print('x / y =', x/y) # Output: x / y = 3.5

# Floor division (quotient)
print('x // y =', x//y) # Output: x // y = 3

# Remainder of the division of left operand by the right
print('x % y =', x%y) # Output: x % y = 2

# Left operand raised to the power of right (x^y)
print('x ** y =', x**y) # Output: x ** y = 38416

x + y = 18
x - y = 10
x * y = 56
x / y = 3.5
x // y = 3
x % y = 2
x ** y = 38416

## Get Input from User

In [ ]:
inputString = input('Enter a sentence:')
print('The inputted string is:', inputString)

Enter a sentence:hi
The inputted string is: hi

## Python Comments

In [ ]:
# This is a comment

In [ ]:
  """This is a 
    multiline
    comment."""

'This is a \n  multiline\n  comment.'

In [ ]:
  '''This is also a
     multiline
     comment.'''

'This is also a\n   multiline\n   comment.'

## Type Conversion
### Implicit Type Conversion

In [ ]:
num_int = 123  # integer type
num_flo = 1.23 # float type

num_new = num_int + num_flo

print("Value of num_new:",num_new)
print("datatype of num_new:",type(num_new))

Value of num_new: 124.23
datatype of num_new: <class 'float'>

In [ ]:
num_int = 123     # int type
num_str = "456"   # str type

print(num_int+num_str)

TypeError: ignored

## Explicit Conversion

In [ ]:
num_int = 123  # int type
num_str = "456" # str type

# explicitly converted to int type
num_str = int(num_str) 

print(num_int+num_str)

579

## Python Numeric Types

In [ ]:
# Output: <class 'int'>
print(type(5))

# Output: <class 'float'>
print(type(5.0))

c = 5 + 3j

# Output: <class 'complex'>
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

# Python Data Structures

## Lists
- A list is created by placing all the items (elements) inside a square bracket [] separated by commas.
- It can have any number of items and they may be of different types (integer, float, string etc.)

In [ ]:
# empty list
my_list = []

# list of integers
my_list = [1, 2, 3]

# list with mixed data types
my_list = [1, "Hello", 3.4]

- You use the index operator [] to access an item in a list. 
- Index starts from 0.   
- So, a list having 10 elements will have index from 0 to 9.

In [ ]:
language = ["French", "German", "English", "Polish"]

# Accessing first element
print(language[0])


# Accessing fourth element
print(language[3])

French
Polish

## Tuples
- Tuple is similar to a list except you cannot change elements of a tuple once it is defined. Whereas in a list, items can be modified.

- Basically, list is mutable whereas tuple is immutable.

In [ ]:
language = ("French", "German", "English", "Polish")
print(language)

('French', 'German', 'English', 'Polish')

In [ ]:
language = ("French", "German", "English", "Polish")

print(language[1]) #Output: German
print(language[3]) #Output: Polish
print(language[-1]) # Output: Polish

German
Polish
Polish

You cannot delete elements of a tuple, however, you can entirely delete a tuple itself using del operator.

In [ ]:
language = ("French", "German", "English", "Polish")
del language

# NameError: name 'language' is not defined
print(language)

NameError: ignored

## String
A string is a sequence of characters. Here are different ways to create a string.

In [ ]:
# all of the following are equivalent
my_string = 'Hello'
print(my_string)

my_string = "Hello"
print(my_string)

my_string = '''Hello'''
print(my_string)

# triple quotes string can extend multiple lines
my_string = """Hello, welcome to
           the world of Python"""
print(my_string)

Hello
Hello
Hello
Hello, welcome to
           the world of Python

You can access individual characters of a string using indexing (in a similar manner like lists and tuples).

In [ ]:
str = 'programiz'
print('str = ', str)

print('str[0] = ', str[0]) # Output: p

print('str[-1] = ', str[-1]) # Output: z

#slicing 2nd to 5th character
print('str[1:5] = ', str[1:5]) # Output: rogr

#slicing 6th to 2nd last character
print('str[5:-2] = ', str[5:-2]) # Output: am

str =  programiz
str[0] =  p
str[-1] =  z
str[1:5] =  rogr
str[5:-2] =  am

- Concatenation is probably the most common string operation. To concatenate strings, you use + operator. 
- Similarly, the * operator can be used to repeat the string for a given number of times.

In [ ]:
str1 = 'Hello '
str2 ='World!'

# Output: Hello World!
print(str1 + str2)

# Hello Hello Hello
print(str1 * 3)

Hello World!
Hello Hello Hello

## Sets
A set is an unordered collection of items where every element is unique (no duplicates).

In [ ]:
# set of integers
my_set = {1, 2, 3}
print(my_set)

# set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{1, 2, 3}
{'Hello', 1.0, (1, 2, 3)}

Sets are mutable. You can add, remove and delete elements of a set.

In [ ]:
|# set of integers
my_set = {1, 2, 3}

my_set.add(4)
print(my_set) # Output: {1, 2, 3, 4}

my_set.add(2)
print(my_set) # Output: {1, 2, 3, 4}

my_set.update([3, 4, 5])
print(my_set) # Output: {1, 2, 3, 4, 5}

my_set.remove(4)
print(my_set) # Output: {1, 2, 3, 5}

SyntaxError: ignored

In [ ]:
A = {1, 2, 3}
B = {2, 3, 4, 5}

# Equivalent to A.union(B) 
# Also equivalent to B.union(A)
print(A | B) # Output: {1, 2, 3, 4, 5}

# Equivalent to A.intersection(B)
# Also equivalent to B.intersection(A)
print (A & B) # Output: {2, 3}

# Set Difference
print (A - B) # Output: {1}

# Set Symmetric Difference
print(A ^ B)  # Output: {1, 4,

{1, 2, 3, 4, 5}
{2, 3}
{1}
{1, 4, 5}

## Dictionaries
- Dictionary is an unordered collection of items. 
- While other compound data types have only value as an element, a dictionary has a key: value pair. For example:

In [ ]:
# empty dictionary
my_dict = {}

# dictionary with integer keys
my_dict = {1: 'apple', 2: 'ball'}

# dictionary with mixed keys
my_dict = {'name': 'John', 1: [2, 4, 3]}

- You can also use dict() function to create dictionaries.

- To access value from a dictionary, you use key. For example:

In [ ]:
person = {'name':'Jack', 'age': 26, 'salary': 4534.2}
print(person['age']) # Output: 26

26

## Python range()
range() returns an immutable sequence of numbers between the given start integer to the stop integer.

In [ ]:
print(range(1, 10)) # Output: range(1, 10)

range(1, 10)

In [ ]:
numbers = range(1, 6)

print(list(numbers)) # Output: [1, 2, 3, 4, 5]
print(tuple(numbers)) # Output: (1, 2, 3, 4, 5)
print(set(numbers)) # Output: {1, 2, 3, 4, 5}

# Output: {1: 99, 2: 99, 3: 99, 4: 99, 5: 99} 
print(dict.fromkeys(numbers, 99))

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{1, 2, 3, 4, 5}
{1: 99, 2: 99, 3: 99, 4: 99, 5: 99}

Let's try few examples with step parameter.

In [ ]:
# Equivalent to: numbers = range(1, 6)
numbers1 = range(1, 6 , 1)
print(list(numbers1)) # Output: [1, 2, 3, 4, 5]

numbers2 = range(1, 6, 2)
print(list(numbers2)) # Output: [1, 3, 5]

numbers3 = range(5, 0, -1)
print(list(numbers3)) # Output: [5, 4,

[1, 2, 3, 4, 5]
[1, 3, 5]
[5, 4, 3, 2, 1]

# Python Control Flow

## if...else Statement

In [ ]:
num = -1

if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")
    
# Output: Negative number

Negative number

## while Loop

In [ ]:
n = 100

# initialize sum and counter
sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i+1    # update counter

print("The sum is", sum)

# Output: The sum is 5050

The sum is 5050

## for Loop

In [ ]:
numbers = [6, 5, 3, 8, 4, 2]

sum = 0

# iterate over the list
for val in numbers:
  sum = sum+val

print("The sum is", sum) # Output: The sum is 28

The sum is 28

## break Statement

In [ ]:
for val in "string":
    if val == "r":
        break
    print(val)

print("The end")

s
t
The end

## continue Statement

In [ ]:
for val in "string":
    if val == "r":
        continue
    print(val)

print("The end")

s
t
i
n
g
The end

## pass Statement

In [ ]:
sequence = {'p', 'a', 's', 's'}
for val in sequence:
    pass

## Python Function

In [ ]:
def print_lines():
  print("I am line1.")
  print("I am line2.")

In [ ]:
# function call
print_lines()

I am line1.
I am line2.

### A function can accept arguments.

In [ ]:
def add_numbers(a, b):
  sum = a + b
  print(sum)

add_numbers(4, 5)

9

### You can also return value from a function using return statement.

In [ ]:
def add_numbers(a, b):
  sum = a + b
  return sum

result = add_numbers(4, 5)
print(result)

9

### Recursion (Recursive function)
- A function that calls itself is known as recursive function and this process is called recursion.

- Every recursive function must have a base condition that stops the recursion or else the function calls itself infinitely.

In [ ]:
You can also return value from a function using return statement.

SyntaxError: ignored

In [ ]:
# Recursive function to find the factorial of a number

def calc_factorial(x):

    if x == 1:
        return 1
    else:
        return (x * calc_factorial(x-1))

num = 6
print("The factorial of", num, "is", calc_factorial(num))

The factorial of 6 is 720

## Lambda Function
- In Python, you can define functions without a name. 
- These functions are called lambda or anonymous function. 
- To create a lambda function, lambda keyword is used.

In [ ]:
square = lambda x: x ** 2

print(square(5))

25

# Modules

- Modules refer to a file containing Python statements and definitions.

- A file containing Python code, for e.g.: example.py, is called a module and its module name would be example.

- Let us create it and save it as example.py.

In [ ]:
! echo -e  "def add(a, b):\\n\\treturn a + b" > example.py

# def add(a, b):
#    return a + b

In [ ]:
! cat example.py

def add(a, b):
	return a + b

To use this module, we use import keyword.

In [ ]:
# importing example module
import example 

# accessing the function inside the module using . operator
example.add(4, 5.5)

9.5

Python has a ton of standard modules readily available for use. For example:

In [ ]:
import math

result = math.log2(5) # return the base-2 logarithm
print(result) # Output: 2.321928094887362

2.321928094887362

In [ ]:
from math import pi
print("The value of pi is", pi)

# Output: The value of pi is 3.141592653589793

The value of pi is 3.141592653589793

# Python File I/O
A file operation takes place in the following order.

- Open a file
- Read or write (perform operation)
- Close the file

In [ ]:
! echo -e  "Hello\nPython" > test.txt
!ls

anscombe.json		      mnist_test.csv	     tasty
california_housing_test.csv   mnist_train_small.csv  test.txt
california_housing_train.csv  README.md

### How to open a file?

In [ ]:
f = open("test.txt")    # open file in current directory

In [ ]:
f = open("test.txt")      # equivalent to 'r' or 'rt'
f = open("test.txt",'w')  # write in text mode
# f = open("img.bmp",'r+b') # read and write in binary mode

### How to close a file?

In [ ]:
f = open("test.txt",encoding = 'utf-8')
# perform file operations
f.close()

### How to write to a file?

In [ ]:
with open("test.txt",'w',encoding = 'utf-8') as f:
   f.write("my first file\n")
   f.write("This file\n\n")
   f.write("contains three lines\n")

In [ ]:
!more test.txt

my first file
This file

contains three lines

# Python Exception Handling
- Errors that occur at runtime are called exceptions. 
- They occur, for example, when a file we try to open does not exist FileNotFoundError, 
- dividing a number by zero ZeroDivisionError etc.

In [ ]:
# import module sys to get the type of exception
import sys

randomList = ['a', 0, 2]

for entry in randomList:
    try:
        print("The entry is", entry)
        r = 1/int(entry)
        break
    except:
        print("Oops!",sys.exc_info()[0],"occurred.")
        print("Next entry.")
        print()
print("The reciprocal of",entry,"is",r)

The entry is a
Oops! <class 'ValueError'> occurred.
Next entry.

The entry is 0
Oops! <class 'ZeroDivisionError'> occurred.
Next entry.

The entry is 2
The reciprocal of 2 is 0.5

# Python OOP
Everything in Python is an object including integers, floats, functions, classes, and None.

## Class and Objects
### How to define a class?

In [ ]:
class MyClass:
    a = 10
    def func(self):
        print('Hello')

## Creating Objects

In [ ]:
obj1 = MyClass()
print(obj1.a)        # Output: 10
 
obj2 = MyClass()
print(obj1.a + 5)    # Output: 15

10
15

### Python Constructors
- In Python, a method with name __init()__ is a constructor. 
- This method is automatically called when an object is instantiated.

In [ ]:
class ComplexNumber:
    def __init__(self,r = 0,i = 0):  # constructor
        self.real = r
        self.imag = i

    def getData(self):
        print("{0}+{1}j".format(self.real,self.imag))


c1 = ComplexNumber(2,3) # Create a new ComplexNumber object
c1.getData() # Output: 2+3j

c2 = ComplexNumber() # Create a new ComplexNumber object
c2.getData() # Output: 0+0j

2+3j
0+0j

### Python Inheritance
Inheritance refers to defining a new class with little or no modification to an existing class.

In [ ]:
class Mammal:
    def displayMammalFeatures(self):
        print('Mammal is a warm-blooded animal.')

In [ ]:
class Dog(Mammal):
    def displayDogFeatures(self):
        print('Dog has 4 legs.')

In [ ]:
d = Dog()
d.displayDogFeatures()
d.displayMammalFeatures()

Dog has 4 legs.
Mammal is a warm-blooded animal.